.carousel .card{
    width: 60%;
    margin: 0 auto;
    background-color: var(--quaternary-color);
    color: white;
    max-height: 29em;
}

.carousel .card-img-top {
    object-fit: cover;
}

.carousel-item{
    width: 100%;
    background-color: var(--secondary-color);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}


/* Cambiar el color de los indicadores activos a negro */
.carousel-indicators .active {
    background-color: black;
}

.carousel-caption{
    background-color: var(--quinary-color);

}

#nosotros .card{
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

#nosotros .card-text{
    font-size:smaller;
}